* {
    margin: 0px;
    background-color: #48b7a2;
}

#pageStructure {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 600px;
}

#sidebar {
    border: 1px solid black;
    background-color: #C43B63;
}

#appTitle {
    text-align: center;
}

button {
    border: 3px solid pink;
    border-radius: 5px;
    font-size: 15px;
}

#sidebar button {
    background-color: #C43B63;
    color: white;
}

#sidebar div{
    background-color: #C43B63;
    color: white;
    text-align: center;
}

